# General
.DS_Store
.idea/
.vscode/

# Node.js / Backend
node_modules/
npm-debug.log
yarn-error.log
.env

# Flutter / Dart
.dart_tool/
.packages
.pub/
build/
ios/.generated/
packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata

# Android
android/key.properties
android/local.properties
android/gradle/
android/app/build/
android/.gradle

# iOS
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Podfile.lock
ios/Pods/
ios/Runner.xcworkspace/

# Git
.git/
